* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --bg-color : #fdfdfd;
    --text-color : #333;
    --main-color : #28a9a9;
    --white-color : #fdfdfd;
    --shadow-color : rgba(0, 0, 0, 0.2);
}

.dark-mode {
    --bg-color : #0b061f;
    --text-color : #fdfdfd;
    --shadow-color : rgba(0, 0, 0, 0.7); 

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 7%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .7s;
}

.header.sticky {
    background: var(--bg-color);
    box-shadow: 0 10px 10px var(--shadow-color);
}

.logo {
    font-size: 25px;
    color: var(--main-color);
    font-weight: 600;
    cursor: default;
    margin-right: auto;
    
}

.navbar a {
    position: relative;
    font-size: 17px;
    color: var(--white-color);
    font-weight: 500;
    margin-right: 35px ;
}

.header.sticky .navbar a {
    color: var(--text-color);
}

.header.sticky .navbar a.active {
    color: var(--main-color);
}

.navbar a.active::before {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--white-color);
}

.header.sticky .navbar a::before {
    background: var(--main-color);
     opacity: .7;
}

#dark_mode_icon {
    font-size: 35px;
    color: var(--white-color);
    cursor: pointer;
}

.header.sticky #dark_mode_icon {
    color: var(--text-color);
    opacity: .9;
}

#menu-icon {
    font-size: 35px;
    color: var(--text-color);
    display: none;
}

section {
    min-height: 100vh;
    padding: 100px 5% 20px;
}

.home {
    display: flex;
    align-items: center;
}

.home .home-content {
    max-width: 600px;

}

.home-content h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}

.home-content h1 {
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 5px;
}

.home-content p {
    font-size: 20px;
}

.home-content .social_media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: transparent;
    border: 3px solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 3px 8px var(--shadow-color);
    font-size: 30px;
    color: var(--main-color);
    margin: 40px 25px 50px 0;
    transition: .7s ease;
}

.home-content .social_media a:hover {
    background: var(--main-color);
    color: var(--white-color);
}

.btn {
    display: inline-block;
    padding:  20px 40px;
    background: var(--main-color);
    border-radius: 25px;
    box-shadow: 0 3px 8px var(--shadow-color);
    font-size: 20px;
    color: var(--white-color);
    font-weight: 600;
    border: 3px solid transparent;
    transition: .7s ease;
}

.btn:hover {
    background: transparent;
    color: var(--main-color);
    border: var(--main-color);
}

.home .profession-cotainer {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 768px;
    height: 768px;
    /* background: red; */
    overflow: hidden;
    pointer-events: none;
}

.home .profession-cotainer .profession-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 768px;
    height: 768px;
    /* background: yellowgreen ; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: professionRotate 10s ease-out infinite;
}

@keyframes professionRotate {
    0%,20% {
        transform: rotate(0deg);
    }
    25%,45% {
        transform: rotate(-90deg);
    }
    50%,70% {
        transform: rotate(-180deg);
    }
    75%,95% {
        transform: rotate(-270deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.home .profession-box .profession {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--main-color);
    transform: rotate(calc(360deg / 4 * var(--i)));
    transform-origin: 384px;
    background: var(--bg-color);
    padding: 13px 0;
}

.home .profession-box .profession:nth-child(1) i {
    margin-right: 15px;

}
.home .profession-box .profession:nth-child(2) i ,
.home .profession-box .profession:nth-child(4) i {
    padding-bottom: 20px;
}



.home .profession i {
    font-size: 38px;

}
.home .profession h3{
    font-size: 32px;
    line-height: 1;
    font-weight: 600;
}

.home .profession-box .circle {
    width: 560px;
    height: 560px;
    /* background: red; */
    border: 3px solid var(--main-color);
    border-radius: 50%;
}

.home .profession-cotainer .overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 384px solid var(--main-color);
    border-right: 384px solid var(--main-color);
    border-bottom: 384px solid var(--main-color);
    border-left: 384px solid transparent;
    
}

.home-img img {
    position: absolute;
    bottom: 0;
    /* right: 0; */
    width: 20%;
    /* height: 90%; */
    pointer-events: none;
    margin-top: 100px;
    margin-bottom: 130px;
    margin-left: 370px;
    border: none;
    border-radius: 150px;

}


span {
    color: var(--main-color);
}


.skills {
    min-height: auto;
    padding-bottom: 70px;
    background: var(--bg-color);
}

.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.skills-row .skills-column {
    flex: 1 1 400px;
}

.skills-column .title {
    font-size: 25px;
    margin: 0 0 15px;
    padding-top: 50px;
    padding-left: 15px;
}

.skills-box .skills-content {
    position: relative;
    border: 2px solid var(--main-color);
    border-radius: 20px;
    padding: 25px 15px;
    margin-top: 25px;
    z-index: 1;
    overflow: hidden;
}

.skills-box .skills-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--shadow-color);
    z-index: -1;
    transition: .7s ease;
}

.skills-box .skills-content:hover:before {
    width: 100%;
}

.skills-content .progress {
    padding: 1px 0;
}

.skills-content .progress h3 {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress h3 span {
    color: var(--text-color);
}

.skills-content .progress .bar {
    height: 25px;
    border-radius: 10px;
    border: 2px solid var(--main-color);
    padding: 5px;
    margin: 1px 0;
}

.skills-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: 10px;
    background: var(--main-color);
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
    width: 90%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
    width: 90%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
    width: 80%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
    width: 60%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span {
    width: 95%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
    width: 75%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
    width: 85%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
    width: 60%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
    width: 60%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(5) .bar span {
    width: 55%;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.about-img img {
    width: 20vw;
    border: none;
    border-radius: 150px;

}

.heading {
    font-size: 45px;
    text-align: center;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 20px;
}

.about-content p {
    font-size: 16px;
    margin: 20px 0 30px;
}

.services {
    min-height: auto;
    padding-bottom: 70px;
}

.services h2 {
    margin-bottom: 50px;
}

.services .services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

.services-container .services-box {
    flex: 1 1 300px;
    background: var(--bg-color);
    padding: 30px 20px 40px;
    border-radius: 20px;
    box-shadow: 0 1px 5px var(--shadow-color);
    text-align: center;
    border-top: 6px solid var(--main-color);
    border-bottom: 6px solid var(--main-color);
    transition: .5s ease;

}

.services-container .services-box:hover {
    box-shadow: 0 1px 20px var(--shadow-color);
    transform: scale(1.02);
}

.services-box i {
    font-size: 70px;
    color: var(--main-color);

}

.services-box h3 {
    font-size: 25px;
    transition: .5s ease;
}

.services-box:hover h3 {
    color: var(--main-color);
}

.services-box p {
    font-size: 16px;
    margin: 10px 0 30px;
}

.portfolio {
    padding-bottom: 100px;
}

.portfolio h2 {
    margin-bottom: 40px;
}

.portfolio .portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 25px;
}

.portfolio-container .portfolio-box {
    position: relative;
    display: flex;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.1) , var(--main-color));
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 40px;
    opacity: 0;
    transition: .5s ease;

}

.portfolio-box:hover .portfolio-layer {
    opacity: 1;
}

.portfolio-layer h4 {
    font-size: 30px;
}

.portfolio-layer p {
    font-size: 16px;
    margin: 3px 0 10px;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: var(--white-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 20px;
    color: #333;
}

.contact h2 {
    margin-bottom: 30px;
}

.contact form {
    max-width: 700px;
    margin: 10px auto;
    text-align: center;
    margin-bottom: 30px;

}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 8px;
    margin: 7px 0;
    box-shadow: 0 10px 5px var(--shadow-color);
}

.contact form .input-box input {
    width:49% ;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 20px;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 7%;
    background: var(--main-color);
}

.foter-text p {
    font-size: 16px;
    color: var(--white-color);
}

.footer-iconTop a {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background: var(--white-color);
    border-radius: 8px;
    border: 2px solid var(--main-color);
    outline: 2px solid transparent;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    outline-color: var(--white-color);
}

.footer-iconTop a i {
    font-size: 24px;
    color: #333;
}

/* BERAKPOINTS */
@media (max-width:1200px) {
    html {
        font-size: 55%;
    }
    .home .profession-cotainer {
        width: 858px;
        height: 858px;
    }
    .home .profession-cotainer .profession-box {
        right: -120px;
        height: 858px;

    }
    .home .portfolio-container .overlay {
        right: -90px;
    }
}

@media (max-width: 1024px) {
    .header {
        padding: 20px 3%;
    }

    section {
        padding: 100px 3% 20px;
    }
    .home .profession-cotainer .portfolio-box {
        height: -220px;
    }
    .home .profession-cotainer .overlay {
        right: -150px;
    }
}

@media (max-width: 991px) {
    .navbar a:nth-child(1),
    .navbar a:nth-child(2),
    .navbar a:nth-child(3),
    .navbar a:nth-child(4),
    .navbar a:nth-child(5),
    .navbar a:nth-child(6) {
        color: var(--main-color);
    }

    .navbar a.active::before {
        background: var(--main-color);
        opacity: .7;
    }

    .home .home-content {
        max-width: 500px;
    }

    .home .profession-cotainer .profession-box {
        right: -450px;
    }

    .home .profession-cotainer .overlay {
        right: -395px;
    }
    .home-img img {
        display: none;
    }

    .services, .portfolio {
        padding-bottom: 70px;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 20px 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }
    #dark_mode_icon {
        position: absolute;
        right: 70px;
        font-size: 26px;
        color: var(--text-color);
        margin-bottom: 1px;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 10px 3%;
        background: var(--bg-color);
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 20px;
        margin: 30px 0;
        color: var(--text-color);
    }

    .navbar a:nth-child(1),
    .navbar a:nth-child(2),
    .navbar a:nth-child(3) {
        color: var(--text-color);
    }

    .navbar a.active {
        color: var(--main-color);
    }

    .navbar a::before {
        display: none;
    }

    .home {
        padding: 0 3% 230px;
        justify-content: center;
        text-align: center;
    }

    .home-content h3 {
        margin-top: 50px;
        font-size: 26px;
    }
    .home-content h1 {
        font-size: 50px;
    }
    .home-content .social_media a {
        margin: 20px 7.5px 25px;
    }
    .home .profession-cotainer {
        left: 0;
        width: 100%;
        height: 100%;
    }
    .home .profession-cotainer .profession-box {
        position: fixed;
        top: 60%;
        left: 0;
        border-radius: 0;
        width: 100%;
    }
    .home .profession-box .profession {
        padding: 0 13px;
        left: auto;
        transform-origin: 0;

    }
    .home .profession-box .profession:nth-child(1) {
        transform: rotate(-90deg) translate(-120px , -210px);
    }

    .home .profession-box .profession:nth-child(1) i {
        margin-right: 0;
    }

    .home .profession-box .profession:nth-child(2) {
        transform: rotate(0deg) translate(0px , -335px);
    }

    .home .profession-box .profession:nth-child(3) {
        transform: rotate(90deg) translate(-115px , -450px);
    }

    .home .profession-box .profession:nth-child(4) {
        transform: rotate(180deg) translate(-220px , -335px);
    }

    .home .profession-box .circle {
        position: fixed;
        width: 670px;
        height: 670px;
        z-index: -1;
    }

    .home .profession-cotainer .overlay {
        position: fixed;
        top: 700px;
        left: 50%;
        right: 0;
        transform: rotate(90deg) translate(-50%,50%) scaleY(4);
        border-width:239px;
    }

    .portfolio .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }
  
}

@media (max-width: 617px) {
    #menu-icon {
        display: block;
        position: absolute;
        right: 400px;
    }
    #dark_mode_icon {
        position: absolute;
        right: 150px;
        font-size: 26px;
        color: var(--text-color);
        margin-bottom: 1px;
    }
    .home .profession-box .circle {
        position: fixed;
        width: 600px;
        height: 600px;
        z-index: -1;
    }

    .home .profession-cotainer .overlay {
        position: fixed;
        top: 500px;
        left: 50%;
        right: 0;
        transform: rotate(90deg) translate(-50%,50%) scaleY(4);
        border-width:239px;
    }
    .portfolio .portfolio-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    #dark_mode_icon {
        right: 60px;
    }
    .home {
        padding: 0 3% 300px;
    }
    .home .profession-box .profession:nth-child(1) {
        transform: rotate(-90deg) translate(-110px , -220px);
    }
    .home .profession-box .profession:nth-child(2) {
        transform: rotate(0deg) translate(5px , -335px);
    }
    .home .profession-box .profession:nth-child(3) {
        transform: rotate(90deg) translate(-105px , -440px);
    }

    .contact form .input-box input {
        width: 100%;
    }
}

@media (max-width: 400px) {
    #menu-icon {
        display: block;
        position: absolute;
        right: 80px;
    }
    #dark_mode_icon {
        position: absolute;
        right: 120px;
        font-size: 26px;
        color: var(--text-color);
        margin-bottom: 1px;
    }

    .btn {
        padding: 10px 20px;
        font-size: 18px;
    }
    .home .profession-box .circle {
        position: fixed;
        width: 670px;
        height: 670px;
        z-index: -1;
    }

    .home .profession-cotainer .overlay {
        position: fixed;
        top: 620px;
        left: 50%;
        right: 0;
        transform: rotate(90deg) translate(-50%,50%) scaleY(4);
        border-width:239px;
    }
    .about {
        flex-direction: column-reverse;
        text-align: center;
    }
    .about-img img {
        width: 60vw;
        
    }
    .about-content h2 {
        text-align: center;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 20px;
    }
}